body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffe6f2; /* light pink */
    box-sizing: border-box;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    padding: 60px 20px;
    background: #ff99cc; /* darker pink */
    color: white;
}

header span {
    color: #ffe6f2;
}

section {
    margin: 20px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 150, 200, 0.4);
}

h2 {
    color: #cc0066;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background: #ffb3d9;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

.project-card {
    background: #ffccdd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(255, 100, 150, 0.4);
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.card {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    background: #ff99cc;
    color: white;
    margin-top: 20px;
}